.form-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    gap: 2rem;
    margin-bottom: 7rem;
  }
  .login-btn{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color:#0182fe ;
    color: white;
    margin-bottom: 0.5rem;
  }

  .login-title{
    text-align: center;
  }